#generated-code, #curl-code {
  font-family: monospace;
  line-height: 1.25;
}

#curl-code {
}

#generated-code {
  /* same as the text area */
  padding: .375rem .75rem;
  border-radius: .3rem;
  border: 1px solid whitesmoke;
  font-size: 1rem;
  font-weight: 400;
  background-color: whitesmoke;
  min-height: calc(1.25em + .375rem + .375rem + 2px);
}

/* At least Chrome on macOS adds a bottom margin */
pre {
  margin-bottom: 0;
}

.github-fork-ribbon:before {
  background-color: #333;
}
