/* ==========================================================================
   App Stylesheet
   app.less
   ========================================================================== */


/* Vendor Styles and Setting (bootstrao > variables)
   ======================================================================== */
@import "bootstrap.less";

.code {
  width: 100%;
  height: 200px;
}

.button-container {
  text-align: center;
}

.header {
  height: 40px;
}
/* Mixins (User defined mixins)
   ======================================================================== */


/* Components
   ======================================================================== */
@import "components/base.less";

