/* ==========================================================================
   App Stylesheet
   app.less
   ========================================================================== */


/* Vendor Styles and Setting (bootstrao > variables)
   ======================================================================== */
@import "bootstrap.less";

.code {
  width: 100%;
  height: 200px;
}

.button-container {
  padding-top: 10px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 20px;
}

.header {
  height: 60px;
}

.screenshot {
  margin-top: 20px;
  width: 324px;
  border: 6px solid #ececec;
}

ul {
  list-style: none;
}

li {
  font-size: 20px;
}

.footer {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

#language {
  width: 100px;
  display: inline-block;
  height: 45px;
}

/* Mixins (User defined mixins)
   ======================================================================== */


/* Components
   ======================================================================== */
@import "components/base.less";

