name: Build and Deploy

on:
  push:
    branches:
      - master
  workflow_dispatch:
  repository_dispatch:
    types: [ship-it]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - run: npm install
      - run: npm run build

      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: dist
